header {
    display: flex;
    position: absolute;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: #071013;
}

header > * {
    margin: 1rem;
    padding: 1rem;
}

header a {
    display: inline-block;
    position: relative;
    color: #f4f4f8;
    text-decoration: none;
}
header a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f4f4f8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
