.default-card {
    border: solid 2px green;
    margin: 1rem 0.5rem;
    width: 30%;
    height: calc(100% - 2rem);
}

.active-card {
    border: solid 2px green;
    margin: 1rem 0.5rem;
    width: 80%;
    height: calc(100% - 2rem);
}

.nonactive-card {
    border: solid 2px green;
    margin: 1rem 0.5rem;
    width: 5%;
    height: calc(100% - 2rem);

    display: flex;
    align-items: center;
    justify-content: center;
}
.nonactive-card p {
    transform: rotate(-90deg);
    white-space: nowrap;
}

.nonactive-card button {
    display: none;
}
