.all-cards {
    border: solid 2px green;
    margin: 1rem 0.3rem;
    transition: 0.5s ease-in-out;
}
.default-card {
    width: 32%;
    height: calc(100% - 2rem);
}

.active-card {
    width: 90%;
    height: calc(100% - 2rem);
}

.nonactive-card {
    width: 3%;
    height: calc(100% - 2rem);

    display: flex;
    align-items: center;
    justify-content: center;
}
.nonactive-card h1 {
    transform: rotate(-90deg);
    white-space: nowrap;
}

.nonactive-card button {
    display: none;
}
